include dash_joe_components/dash_joe_components.min.js
include dash_joe_components/dash_joe_components.min.js.map
include dash_joe_components/dash_joe_components-shared.js
include dash_joe_components/dash_joe_components-shared.js.map
include dash_joe_components/async-*.js
include dash_joe_components/async-*.js.map
include dash_joe_components/metadata.json
include dash_joe_components/package-info.json
include dash_joe_components/plotly.min.js
include README.md
include LICENSE.txt
include package.json
